<div class="iconMenu">
<a  onclick="showColorMenu()"><i class="material-icons">menu</i></a>
</div>
<div class="rowPage">
  <div id="columnMenu" class="columnMenu">
    <div style="text-align: left;">
      <a href="http:\\luisfigueredo.ddns.net/demo">{{__ "demo"}}</a>
    </div>
    <a id="conocimiento" href="http://luisfigueredo.ddns.net/conocimientos">{{__
        "conocimientos"
      }}
    </a>
    <a id="titulos" href="http://luisfigueredo.ddns.net/titulos">{{__
        "titulos"
      }}
    </a>
    <a onclick="changeColor()"><i class="material-icons">wb_sunny</i></a>
    {{#if (localeIs "sp")}}
      <div style="text-align: right;">
        <a href="http:\\luisfigueredo.ddns.net/en">English</a>
      </div>
    {{/if}}
    {{#if (localeIs "en")}}
      <div style="text-align: right;">
        <a href="http:\\luisfigueredo.ddns.net\sp">Español</a>
      </div>
    {{/if}}
  </div>
  <div class="page">
    <div class="rowMenu">
      <div style="text-align: left;">
        <a href="http:\\luisfigueredo.ddns.net/demo">{{__ "demo"}}</a>
      </div>
      <a
        id="conocimiento"
        href="http://luisfigueredo.ddns.net/conocimientos"
      >{{__ "conocimientos"}}
      </a>
      <a id="titulos" href="http://luisfigueredo.ddns.net/titulos">{{__
          "titulos"
        }}
      </a>
      <a onclick="changeColor()"><i class="material-icons">wb_sunny</i></a>
      {{#if (localeIs "sp")}}
        <div style="text-align: right;">
          <a href="http:\\luisfigueredo.ddns.net/en">English</a>
        </div>
      {{/if}}
      {{#if (localeIs "en")}}
        <div style="text-align: right;">
          <a href="http:\\luisfigueredo.ddns.net\sp">Español</a>
        </div>
      {{/if}}
    </div>
    <div class="rowWithoutMedia">
      <img src="yo.jpg" class="logo" />
      <h2>{{name}}</h2>
    </div>
    <h3 style="text-align: center;">{{__ "webDeveloper"}}</h3>
    <img class="rowFoto" src="fotoyo.jpg" />
    <div class="row">
      <p>{{__ "intContact"}}</p>
    </div>
    <div class="contacts">
      <div class="rowPhone">
        <p>{{__ "celular"}}:</p><p>(+598) 98504391</p>
        <img width="2%" src="WhatsApp.svg" />
        <p style="padding-left: 20px;">Email:</p>
        <p>luisalejandrofigueredo@gmail.com</p>
      </div>
    </div>
  </div>
</div>

<script>
  let showMenu=false;
  {{#if (eqString modeColor "light")}}
    var element= document.body; element.classList.toggle('light')
  {{/if}}
  async function changeColor() { const response = await
  fetch("http://luisfigueredo.ddns.net/changeColor"); location.reload(); }
  function showColorMenu(){
    if (showMenu===false)
    {
      showMenu=true;
      let element=document.getElementById("columnMenu")
      element.classList.replace("columnMenu","columnMenuVisible")
    }
    else{
      showMenu=false;
      let element=document.getElementById("columnMenu")
      element.classList.replace("columnMenuVisible","columnMenu")
    }

  }
</script>